#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  max-width: 100vw;
}

.mainHolder {
  display: flex;
}

.formHolder {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  text-align: left;
  margin-top: 0.5rem;
}

.documentHolder {
  margin-left: 3rem;
  width: 100%;

  border: 2px solid black;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cba135;
  width: 100%;
  height: 20%;
}

.nameHolder {
  margin: 0;
}

.genInfoHolder {
  display: flex;
  justify-content: space-between;
}

.genInfoHolder h2 {
  margin: 1rem 1rem;
}

section {
  margin-top: 2rem;
}
.sectionHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #cba135;
}

.titleHolder h3 {
  margin: 0;
  padding: 0.5rem;
}

.educationContainer {
  width: 100%;
}

.educationInfoHolder {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  margin-top: 1rem;
}

.schoolHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  margin-left: 2rem;
}

.schoolHolder p {
  margin: 0;
}

.experienceInfoHolder {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 0.5rem;
}

.experienceInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.company {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company p {
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.experienceInfoDes {
  display: flex;
}

.add {
  margin: 1rem auto;
  width: 40%;
  border-radius: 1rem;
  padding: 0.3rem;
  font-weight: bold;
  color: #f7fff7;
  background-color: #5c6b73;
  font-size: 1rem;
}

.add:hover {
  color: #5c6b73;
  background-color: #f7fff7;
  transition: background-color 0.5s ease;
}

form {
  padding: 2rem 1rem;
  width: 100%;
  border: 1px solid;
  box-shadow: 5px 10px 10px grey;
  background-color: #f7fff7;
}

.entryContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #cba135;
}

.entryContainer:hover {
  background-color: #519872;
  transition: background-color 0.5s ease;
}
.documentHolder {
  background-color: #f7fff7;
}
.entryButton {
  margin-left: 0.5rem;
  border-radius: 0.2rem;
}

input,
textarea {
  background-color: white;
}
